In [1]:
import pandas as pd
import numpy as np
from functools import reduce

In [2]:
# G01
age_group = ['LGA_CODE_2016', 'Age_0_4_yr_P', 'Age_5_14_yr_P', 'Age_15_19_yr_P', 'Age_20_24_yr_P', 'Age_25_34_yr_P',
             'Age_35_44_yr_P', 'Age_45_54_yr_P', 'Age_55_64_yr_P', 'Age_65_74_yr_P', 'Age_75_84_yr_P', 'Age_85ov_P']
origin = ['LGA_CODE_2016', 'Birthplace_Australia_P', 'Birthplace_Elsewhere_P']
educ_attain_G01 = ['LGA_CODE_2016', 'High_yr_schl_comp_Yr_12_eq_P', 'High_yr_schl_comp_Yr_11_eq_P',
                   'High_yr_schl_comp_Yr_10_eq_P', 'High_yr_schl_comp_Yr_9_eq_P', 'High_yr_schl_comp_Yr_8_belw_P',
                   'High_yr_schl_comp_D_n_g_sch_P']

# G02
vars_G02 = ['LGA_CODE_2016', 'Median_age_persons', 'Median_tot_prsnl_inc_weekly', 'Median_tot_fam_inc_weekly',
            'Median_tot_hhd_inc_weekly', 'Average_household_size']

# G05
marital_stat = ['LGA_CODE_2016', 'P_Tot_Married', 'P_Tot_Separated',  'P_Tot_Divorced',  'P_Tot_Widowed',
                'P_Tot_Never_Married']

# G09
country_origin = ['LGA_CODE_2016', 'P_Afghanistan_Tot', 'P_Australia_Tot', 'P_Bangladesh_Tot', 'P_Bosnia_Herzegov_Tot',
                  'P_Cambodia_Tot', 'P_Canada_Tot', 'P_Chile_Tot', 'P_China_Tot', 'P_Croatia_Tot', 'P_Egypt_Tot',
                  'P_England_Tot', 'P_Fiji_Tot', 'P_France_Tot', 'P_Germany_Tot', 'P_Greece_Tot', 'P_Hong_Kong_Tot',
                  'P_India_Tot', 'P_Indonesia_Tot', 'P_Iran_Tot', 'P_Iraq_Tot', 'P_Ireland_Tot', 'P_Italy_Tot',
                  'P_Japan_Tot', 'P_Korea_South_Tot', 'P_Lebanon_Tot', 'P_Malaysia_Tot', 'P_Malta_Tot',
                  'P_Mauritius_Tot', 'P_Myanmar_Tot', 'P_Nepal_Tot', 'P_Netherlands_Tot', 'P_New_Zealand_Tot',
                  'P_Nthern_Ireland_Tot', 'P_Pakistan_Tot', 'P_PNG_Tot', 'P_Philippines_Tot', 'P_Poland_Tot',
                  'P_Scotland_Tot', 'P_Singapore_Tot', 'P_South_Africa_Tot', 'P_SE_Europe_nfd_Tot', 'P_Sri_Lanka_Tot',
                  'P_Taiwan_Tot', 'P_Thailand_Tot', 'P_FYROM_Tot', 'P_Turkey_Tot', 'P_USA_Tot', 'P_Vietnam_Tot',
                  'P_Wales_Tot', 'P_Zimbabwe_Tot', 'P_Elsewhere_Tot', 'P_COB_NS_Tot']

# G16
educ_attain_G16 = ['LGA_CODE_2016', 'P_Y12e_Tot', 'P_Y11e_Tot', 'P_Y10e_Tot', 'P_Y9e_Tot', 'P_Y8b_Tot', 'P_DNGTS_Tot',
                   'P_Hghst_yr_schl_ns_Tot']

# G17
personal_income = ['LGA_CODE_2016', 'P_Neg_Nil_income_Tot', 'P_1_149_Tot', 'P_150_299_Tot', 'P_300_399_Tot',
                   'P_400_499_Tot', 'P_500_649_Tot', 'P_650_799_Tot', 'P_800_999_Tot', 'P_1000_1249_Tot',
                   'P_1250_1499_Tot', 'P_1500_1749_Tot', 'P_1750_1999_Tot', 'P_2000_2999_Tot', 'P_3000_more_Tot',
                   'P_PI_NS_ns_Tot']

# G28
family_income = ['LGA_CODE_2016', 'Neg_Nil_inc_Tot', 'FI_1_149_Tot', 'FI_150_299_Tot', 'FI_300_399_Tot',
                 'FI_400_499_Tot', 'FI_500_649_Tot', 'FI_650_799_Tot', 'FI_800_999_Tot', 'FI_1000_1249_Tot',
                 'FI_1250_1499_Tot', 'FI_1500_1749_Tot', 'FI_1750_1999_Tot', 'FI_2000_2499_Tot', 'FI_2500_2999_Tot',
                 'FI_3000_3499_Tot', 'FI_3500_3999_Tot', 'FI_4000_more_Tot', 'Partial_income_stated_Tot',
                 'All_incomes_ns_Tot']

# G29
hh_income = ['LGA_CODE_2016', 'Negative_Nil_income_Tot', 'HI_1_149_Tot', 'HI_150_299_Tot', 'HI_300_399_Tot',
             'HI_400_499_Tot', 'HI_500_649_Tot', 'HI_650_799_Tot', 'HI_800_999_Tot', 'HI_1000_1249_Tot',
             'HI_1250_1499_Tot', 'HI_1500_1749_Tot', 'HI_1750_1999_Tot', 'HI_2000_2499_Tot', 'HI_2500_2999_Tot',
             'HI_3000_3499_Tot', 'HI_3500_3999_Tot', 'HI_4000_more_Tot', 'Partial_income_stated_Tot',
             'All_incomes_not_stated_Tot']

# G40
employment = ['LGA_CODE_2016', 'Percent_Unem_loyment_P', 'Percnt_LabForc_prticipation_P',
              'Percnt_Employment_to_populn_P']
non_school_educ_G40 = ['LGA_CODE_2016', 'Non_sch_quals_PostGrad_Dgre_P', 'Non_sch_quals_Gr_Dip_Gr_Crt_P',
                       'Non_sch_quals_Bchelr_Degree_P', 'Non_sch_quls_Advncd_Dip_Dip_P',
                       'Non_sch_quls_Cert3a4_Level_P', 'Non_sch_quls_Cert1a2_Level_P',
                       'Non_sch_quls_Certnfd_Level_P', 'Non_sch_quls_CertTot_Level_P']

# G46
non_school_educ_G46 = ['LGA_CODE_2016', 'P_PGrad_Deg_Total', 'P_GradDip_and_GradCert_Total', 'P_BachDeg_Total',
                       'P_AdvDip_and_Dip_Total', 'P_Cert_III_IV_Total', 'P_Cert_I_II_Total',
                       'P_Cert_Levl_nfd_Total', 'P_Lev_Edu_IDes_Total', 'P_Lev_Edu_NS_Total']

In [3]:
#paths
g01_path = '../Data/census 2016/2016_GCP_LGA_for_NSW_short-header/2016 Census GCP Local Government Areas for NSW/2016Census_G01_NSW_LGA.csv'
g02_path = '../Data/census 2016/2016_GCP_LGA_for_NSW_short-header/2016 Census GCP Local Government Areas for NSW/2016Census_G02_NSW_LGA.csv'

g05_path = '../Data/census 2016/2016_GCP_LGA_for_NSW_short-header/2016 Census GCP Local Government Areas for NSW/2016Census_G05_NSW_LGA.csv'

g09a_path = '../Data/census 2016/2016_GCP_LGA_for_NSW_short-header/2016 Census GCP Local Government Areas for NSW/2016Census_G09A_NSW_LGA.csv'
g09b_path = '../Data/census 2016/2016_GCP_LGA_for_NSW_short-header/2016 Census GCP Local Government Areas for NSW/2016Census_G09B_NSW_LGA.csv'
g09c_path = '../Data/census 2016/2016_GCP_LGA_for_NSW_short-header/2016 Census GCP Local Government Areas for NSW/2016Census_G09C_NSW_LGA.csv'
g09d_path = '../Data/census 2016/2016_GCP_LGA_for_NSW_short-header/2016 Census GCP Local Government Areas for NSW/2016Census_G09D_NSW_LGA.csv'
g09e_path = '../Data/census 2016/2016_GCP_LGA_for_NSW_short-header/2016 Census GCP Local Government Areas for NSW/2016Census_G09E_NSW_LGA.csv'
g09f_path = '../Data/census 2016/2016_GCP_LGA_for_NSW_short-header/2016 Census GCP Local Government Areas for NSW/2016Census_G09F_NSW_LGA.csv'
g09g_path = '../Data/census 2016/2016_GCP_LGA_for_NSW_short-header/2016 Census GCP Local Government Areas for NSW/2016Census_G09G_NSW_LGA.csv'
g09h_path = '../Data/census 2016/2016_GCP_LGA_for_NSW_short-header/2016 Census GCP Local Government Areas for NSW/2016Census_G09H_NSW_LGA.csv'

g16a_path = '../Data/census 2016/2016_GCP_LGA_for_NSW_short-header/2016 Census GCP Local Government Areas for NSW/2016Census_G16A_NSW_LGA.csv'
g16b_path = '../Data/census 2016/2016_GCP_LGA_for_NSW_short-header/2016 Census GCP Local Government Areas for NSW/2016Census_G16B_NSW_LGA.csv'

g17apath = '../Data/census 2016/2016_GCP_LGA_for_NSW_short-header/2016 Census GCP Local Government Areas for NSW/2016Census_G17A_NSW_LGA.csv'
g17bpath = '../Data/census 2016/2016_GCP_LGA_for_NSW_short-header/2016 Census GCP Local Government Areas for NSW/2016Census_G17B_NSW_LGA.csv'
g17cpath = '../Data/census 2016/2016_GCP_LGA_for_NSW_short-header/2016 Census GCP Local Government Areas for NSW/2016Census_G17C_NSW_LGA.csv'

g28path = '../Data/census 2016/2016_GCP_LGA_for_NSW_short-header/2016 Census GCP Local Government Areas for NSW/2016Census_G28_NSW_LGA.csv'

g29path = '../Data/census 2016/2016_GCP_LGA_for_NSW_short-header/2016 Census GCP Local Government Areas for NSW/2016Census_G29_NSW_LGA.csv'

g40path = '../Data/census 2016/2016_GCP_LGA_for_NSW_short-header/2016 Census GCP Local Government Areas for NSW/2016Census_G40_NSW_LGA.csv'

g46apath = '../Data/census 2016/2016_GCP_LGA_for_NSW_short-header/2016 Census GCP Local Government Areas for NSW/2016Census_G46A_NSW_LGA.csv'
g46bpath = '../Data/census 2016/2016_GCP_LGA_for_NSW_short-header/2016 Census GCP Local Government Areas for NSW/2016Census_G46B_NSW_LGA.csv'

In [4]:
#Load and merge data
g01 = pd.read_csv(g01_path)
g01a = g01[age_group]
g01b = g01[origin]
g01c = g01[educ_attain_G01]

g02 = pd.read_csv(g02_path)
g02 = g02[vars_G02]

g05 = pd.read_csv(g05_path)
g05 = g05[marital_stat]

g09a = pd.read_csv(g09a_path)
g09b = pd.read_csv(g09b_path)
g09c = pd.read_csv(g09c_path)
g09d = pd.read_csv(g09d_path)
g09e = pd.read_csv(g09e_path)
g09f = pd.read_csv(g09f_path)
g09g = pd.read_csv(g09g_path)
g09h = pd.read_csv(g09h_path)
g09_cols = [g09a, g09b, g09c, g09d, g09e, g09f, g09g, g09h]
g09 = reduce(lambda left, right: pd.merge(left, right, on = ['LGA_CODE_2016'], how = 'outer'), g09_cols)
g09 = g09[country_origin]

g16a = pd.read_csv(g16a_path)
g16b = pd.read_csv(g16b_path)
g16 = g16a.merge(g16b, on='LGA_CODE_2016', how='outer')
g16 = g16[educ_attain_G16]

g17a = pd.read_csv(g17apath)
g17b = pd.read_csv(g17bpath)
g17c = pd.read_csv(g17cpath)
g17 = g17a.merge(g17b, on = 'LGA_CODE_2016', how = 'outer')
g17 = g17.merge(g17c, on = 'LGA_CODE_2016', how = 'outer')
g17 = g17[personal_income]

g28 = pd.read_csv(g28path)
g28 = g28[family_income]

g29 = pd.read_csv(g29path)
g29 = g29[hh_income]

g40 = pd.read_csv(g40path)
g40a = g40[employment]
g40b = g40[non_school_educ_G40]

g46a = pd.read_csv(g46apath)
g46b = pd.read_csv(g46bpath)
g46 = g46a.merge(g46b, on = 'LGA_CODE_2016', how = 'outer')

In [5]:
g01a['Age_below_15_yr'] = g01a['Age_0_4_yr_P'] + g01a['Age_5_14_yr_P']
g01a['Age_15_64_yr'] = g01a['Age_15_19_yr_P'] + g01a['Age_20_24_yr_P'] + g01a['Age_25_34_yr_P'] + g01a['Age_35_44_yr_P'] + g01a['Age_45_54_yr_P'] + g01a['Age_55_64_yr_P']
g01a['Age_over_65_yr'] = g01a['Age_65_74_yr_P'] + g01a['Age_75_84_yr_P'] + g01a['Age_85ov_P']

g01a['Age_below_15_yr_pct'] = g01a['Age_below_15_yr'] / (g01a['Age_below_15_yr'] + g01a['Age_15_64_yr'] + g01a['Age_over_65_yr']) * 100
g01a['Age_15_64_yr_pct'] = g01a['Age_15_64_yr'] / (g01a['Age_below_15_yr'] + g01a['Age_15_64_yr'] + g01a['Age_over_65_yr']) * 100
g01a['Age_over_65_yr_pct'] = g01a['Age_over_65_yr'] / (g01a['Age_below_15_yr'] + g01a['Age_15_64_yr'] + g01a['Age_over_65_yr']) * 100

g01a.head()

/Users/jan/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  """Entry point for launching an IPython kernel.
/Users/jan/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy

/Users/jan/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  This is separate from the ipykernel package so we can avoid doing imports until
/Users/jan/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  """
/Users/jan/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy

/Users/jan/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  import sys

,LGA_CODE_2016,Age_0_4_yr_P,Age_5_14_yr_P,Age_15_19_yr_P,Age_20_24_yr_P,Age_25_34_yr_P,Age_35_44_yr_P,Age_45_54_yr_P,Age_55_64_yr_P,Age_65_74_yr_P,Age_75_84_yr_P,Age_85ov_P,Age_below_15_yr,Age_15_64_yr,Age_over_65_yr,Age_below_15_yr_pct,Age_15_64_yr_pct,Age_over_65_yr_pct
0,LGA10050,3286,6328,3248,3508,6498,6205,6497,6372,4907,2913,1329,9614,32328,9149,18.817404,63.275332,17.907264
1,LGA10130,1669,3667,2560,2793,3464,3100,3657,3552,2747,1595,649,5336,19126,4991,18.117000,64.937358,16.945642
2,LGA10250,2072,4856,2384,1571,3581,4669,5759,6434,5503,3203,1755,6928,24398,10461,16.579319,58.386580,25.034102
3,LGA10300,143,336,135,132,233,276,290,377,202,131,35,479,1443,368,20.917031,63.013100,16.069869
4,LGA10470,2546,5571,2980,3148,5171,4878,5238,4991,3862,2019,892,8117,26406,6773,19.655657,63.943239,16.401104

In [6]:
g01b['BP_Aus_pct'] = g01b['Birthplace_Australia_P'] / (g01b['Birthplace_Australia_P'] + g01b['Birthplace_Elsewhere_P']) * 100
g01b['BP_Non_Aus_pct'] = g01b['Birthplace_Elsewhere_P'] / (g01b['Birthplace_Australia_P'] + g01b['Birthplace_Elsewhere_P']) * 100

g01b.head()

/Users/jan/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  """Entry point for launching an IPython kernel.
/Users/jan/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy

,LGA_CODE_2016,Birthplace_Australia_P,Birthplace_Elsewhere_P,BP_Aus_pct,BP_Non_Aus_pct
0,LGA10050,41590,5540,88.245279,11.754721
1,LGA10130,23396,3631,86.565287,13.434713
2,LGA10250,33984,4609,88.057420,11.942580
3,LGA10300,1869,144,92.846498,7.153502
4,LGA10470,34538,3565,90.643781,9.356219

In [7]:
g01c['Sec_Edu_Yr10_or_above'] = g01c['High_yr_schl_comp_Yr_12_eq_P'] + g01c['High_yr_schl_comp_Yr_11_eq_P'] + g01c['High_yr_schl_comp_Yr_10_eq_P']
g01c['Sec_Edu_Yr9_or_below'] = g01c['High_yr_schl_comp_Yr_9_eq_P'] + g01c['High_yr_schl_comp_Yr_8_belw_P'] + g01c['High_yr_schl_comp_D_n_g_sch_P']

g01c['Yr10_above_pct'] = g01c['Sec_Edu_Yr10_or_above'] / (g01c['Sec_Edu_Yr10_or_above'] + g01c['Sec_Edu_Yr9_or_below']) * 100
g01c['Yr9_below_pct'] = g01c['Sec_Edu_Yr9_or_below'] / (g01c['Sec_Edu_Yr10_or_above'] + g01c['Sec_Edu_Yr9_or_below']) * 100

g01c.head()

/Users/jan/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  """Entry point for launching an IPython kernel.
/Users/jan/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy

/Users/jan/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  after removing the cwd from sys.path.
/Users/jan/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  """

,LGA_CODE_2016,High_yr_schl_comp_Yr_12_eq_P,High_yr_schl_comp_Yr_11_eq_P,High_yr_schl_comp_Yr_10_eq_P,High_yr_schl_comp_Yr_9_eq_P,High_yr_schl_comp_Yr_8_belw_P,High_yr_schl_comp_D_n_g_sch_P,Sec_Edu_Yr10_or_above,Sec_Edu_Yr9_or_below,Yr10_above_pct,Yr9_below_pct
0,LGA10050,17096,4413,10414,3287,2076,287,31923,5650,84.962606,15.037394
1,LGA10130,12270,1431,5166,1651,1169,77,18867,2897,86.689028,13.310972
2,LGA10250,14511,2414,9963,2851,1672,92,26888,4615,85.350602,14.649398
3,LGA10300,514,208,439,186,183,15,1161,384,75.145631,24.854369
4,LGA10470,14024,2202,9053,2475,1466,98,25279,4039,86.223480,13.776520

In [8]:
g05['P_Tot_Single'] = g05['P_Tot_Separated'] + g05['P_Tot_Divorced'] + g05['P_Tot_Widowed'] + g05['P_Tot_Never_Married']

g05['MS_Married_pct'] = g05['P_Tot_Married'] / (g05['P_Tot_Married'] + g05['P_Tot_Single']) * 100
g05['MS_Separated_pct'] = g05['P_Tot_Separated'] / (g05['P_Tot_Married'] + g05['P_Tot_Single']) * 100
g05['MS_Divorced_pct'] = g05['P_Tot_Divorced'] / (g05['P_Tot_Married'] + g05['P_Tot_Single']) * 100
g05['MS_Widowed_pct'] = g05['P_Tot_Widowed'] / (g05['P_Tot_Married'] + g05['P_Tot_Single']) * 100
g05['MS_Never_Married_pct'] = g05['P_Tot_Never_Married'] / (g05['P_Tot_Married'] + g05['P_Tot_Single']) * 100
g05['MS_Single_pct'] = g05['P_Tot_Single'] / (g05['P_Tot_Married'] + g05['P_Tot_Single']) * 100

g05.head()

,LGA_CODE_2016,P_Tot_Married,P_Tot_Separated,P_Tot_Divorced,P_Tot_Widowed,P_Tot_Never_Married,P_Tot_Single,MS_Married_pct,MS_Separated_pct,MS_Divorced_pct,MS_Widowed_pct,MS_Never_Married_pct,MS_Single_pct
0,LGA10050,18935,1478,4018,2632,14408,22536,45.658412,3.563936,9.688698,6.346604,34.742350,54.341588
1,LGA10130,10341,760,1872,1435,9714,13781,42.869580,3.150651,7.760551,5.948926,40.270293,57.130420
2,LGA10250,17046,1179,3849,2754,10027,17809,48.905465,3.382585,11.042892,7.901305,28.767752,51.094535
3,LGA10300,897,50,132,114,608,904,49.805664,2.776235,7.329262,6.329817,33.759023,50.194336
4,LGA10470,14936,1147,2885,1854,12365,18251,45.005574,3.456173,8.693163,5.586525,37.258565,54.994426

In [9]:
g17['total'] = g17.drop(columns = ['LGA_CODE_2016']).sum(axis = 1)
g17['pct_no_pincome'] = (g17.P_Neg_Nil_income_Tot) * 100 / g17.total
g17['pct_pincome_1_499'] = (g17.P_1_149_Tot + g17.P_150_299_Tot + g17.P_300_399_Tot +
                                   g17.P_400_499_Tot) * 100 / g17.total
g17['pct_pincome_500_999'] = (g17.P_500_649_Tot + g17.P_650_799_Tot +
                                     g17.P_800_999_Tot) * 100 / g17.total
g17['pct_pincome_1_999'] = (g17.P_1_149_Tot + g17.P_150_299_Tot + g17.P_300_399_Tot +
                                   g17.P_400_499_Tot + g17.P_500_649_Tot + g17.P_650_799_Tot +
                                   g17.P_800_999_Tot) * 100 / g17.total
g17['pct_pincome_1000_1499'] = (g17.P_1000_1249_Tot +
                                       g17.P_1250_1499_Tot) * 100 / g17.total
g17['pct_pincome_1500_1999'] = (g17.P_1500_1749_Tot +
                                       g17.P_1750_1999_Tot) * 100 / g17.total
g17['pct_pincome_1000_1999'] = (g17.P_1000_1249_Tot + g17.P_1250_1499_Tot +
                                       g17.P_1500_1749_Tot +
                                       g17.P_1750_1999_Tot) * 100 / g17.total
g17['pct_pincome_2000_2999'] = (g17.P_2000_2999_Tot) * 100 / g17.total
g17['pct_pincome_3000_more'] = (g17.P_3000_more_Tot) * 100 / g17.total
g17['pct_pincome_ns'] = (g17.P_PI_NS_ns_Tot) * 100 / g17.total

g17 = g17[['LGA_CODE_2016', 'pct_no_pincome', 'pct_pincome_1_499', 'pct_pincome_500_999',
                               'pct_pincome_1_999', 'pct_pincome_1000_1499', 'pct_pincome_1500_1999',
                               'pct_pincome_1000_1999', 'pct_pincome_2000_2999', 'pct_pincome_3000_more',
                               'pct_pincome_ns']]
g17.head()

,LGA_CODE_2016,pct_no_pincome,pct_pincome_1_499,pct_pincome_500_999,pct_pincome_1_999,pct_pincome_1000_1499,pct_pincome_1500_1999,pct_pincome_1000_1999,pct_pincome_2000_2999,pct_pincome_3000_more,pct_pincome_ns
0,LGA10050,6.403917,30.179213,27.147302,57.326515,14.189923,7.132348,21.322270,3.287585,1.623290,10.036422
1,LGA10130,8.853519,32.375860,25.242477,57.618337,11.634751,6.262953,17.897704,3.680676,1.637238,10.312526
2,LGA10250,5.892140,32.237522,27.799771,60.037292,12.059667,6.534710,18.594378,3.195640,2.062536,10.218015
3,LGA10300,8.743774,25.733260,28.610957,54.344217,12.838960,3.818484,16.657443,2.877698,1.549530,15.827338
4,LGA10470,7.452481,28.493539,24.589571,53.083110,13.519294,8.178450,21.697744,4.132904,1.503148,12.130614

In [10]:
g28['total'] = g28.drop(columns = ['LGA_CODE_2016']).sum(axis = 1)
g28['pct_no_fincome'] = (g28.Neg_Nil_inc_Tot) * 100 / g28.total
g28['pct_fincome_1_499'] = (g28.FI_1_149_Tot + g28.FI_150_299_Tot + g28.FI_300_399_Tot +
                                   g28.FI_400_499_Tot) * 100 / g28.total
g28['pct_fincome_500_999'] = (g28.FI_500_649_Tot + g28.FI_650_799_Tot + g28.FI_800_999_Tot) * 100 / g28.total
g28['pct_fincome_1_999'] = (g28.FI_1_149_Tot + g28.FI_150_299_Tot + g28.FI_300_399_Tot +
                                   g28.FI_400_499_Tot + g28.FI_500_649_Tot + g28.FI_650_799_Tot +
                                   g28.FI_800_999_Tot) * 100 / g28.total
g28['pct_fincome_1000_1499'] = (g28.FI_1000_1249_Tot + g28.FI_1250_1499_Tot) * 100 / g28.total
g28['pct_fincome_1500_1999'] = (g28.FI_1500_1749_Tot + g28.FI_1750_1999_Tot) * 100 / g28.total
g28['pct_fincome_1000_1999'] = (g28.FI_1000_1249_Tot + g28.FI_1250_1499_Tot +
                                       g28.FI_1500_1749_Tot + g28.FI_1750_1999_Tot) * 100 / g28.total
g28['pct_fincome_2000_2999'] = (g28.FI_2000_2499_Tot + g28.FI_2500_2999_Tot) * 100 / g28.total
g28['pct_fincome_3000_3999'] = (g28.FI_3000_3499_Tot + g28.FI_3500_3999_Tot) * 100 / g28.total
g28['pct_fincome_4000_more'] = (g28.FI_4000_more_Tot) * 100 / g28.total
g28['pct_part_fincome'] = (g28.Partial_income_stated_Tot) * 100 / g28.total
g28['pct_fincome_ns'] = (g28.All_incomes_ns_Tot) * 100 / g28.total

g28 = g28[['LGA_CODE_2016', 'pct_no_fincome', 'pct_fincome_1_499', 'pct_fincome_500_999',
                               'pct_fincome_1_999', 'pct_fincome_1000_1499', 'pct_fincome_1500_1999',
                               'pct_fincome_1000_1999', 'pct_fincome_2000_2999', 'pct_fincome_3000_3999',
                               'pct_fincome_4000_more', 'pct_fincome_ns']]
g28.head()

,LGA_CODE_2016,pct_no_fincome,pct_fincome_1_499,pct_fincome_500_999,pct_fincome_1_999,pct_fincome_1000_1499,pct_fincome_1500_1999,pct_fincome_1000_1999,pct_fincome_2000_2999,pct_fincome_3000_3999,pct_fincome_4000_more,pct_fincome_ns
0,LGA10050,0.693633,5.681552,19.141143,24.822695,18.268257,13.615463,31.883719,20.302393,7.435118,4.239732,1.862676
1,LGA10130,0.954861,5.844907,20.355903,26.200810,18.243634,13.469329,31.712963,17.896412,6.944444,4.817708,1.779514
2,LGA10250,0.505319,5.062057,21.728723,26.790780,20.239362,13.156028,33.395390,17.934397,6.090426,4.875887,1.702128
3,LGA10300,1.909722,4.340278,19.444444,23.784722,19.270833,15.972222,35.243056,16.319444,2.604167,2.951389,3.993056
4,LGA10470,0.679937,5.498620,17.836027,23.334647,17.027986,12.859677,29.887663,21.284982,9.184076,4.749704,1.704769

In [11]:
g29['total'] = g29.drop(columns = ['LGA_CODE_2016']).sum(axis = 1)
g29['pct_no_hincome'] = (g29.Negative_Nil_income_Tot) / g29.total
g29['pct_hincome_1_499'] = (g29.HI_1_149_Tot + g29.HI_150_299_Tot + g29.HI_300_399_Tot +
                                   g29.HI_400_499_Tot) * 100 / g29.total
g29['pct_hincome_500_999'] = (g29.HI_500_649_Tot + g29.HI_650_799_Tot + g29.HI_800_999_Tot) * 100 / g29.total
g29['pct_hincome_1_999'] = (g29.HI_1_149_Tot + g29.HI_150_299_Tot + g29.HI_300_399_Tot +
                                   g29.HI_400_499_Tot + g29.HI_500_649_Tot + g29.HI_650_799_Tot +
                                   g29.HI_800_999_Tot) * 100 / g29.total
g29['pct_hincome_1000_1499'] = (g29.HI_1000_1249_Tot + g29.HI_1250_1499_Tot) * 100 / g29.total
g29['pct_hincome_1500_1999'] = (g29.HI_1500_1749_Tot + g29.HI_1750_1999_Tot) * 100 / g29.total
g29['pct_hincome_1000_1999'] = (g29.HI_1000_1249_Tot + g29.HI_1250_1499_Tot + g29.HI_1500_1749_Tot +
                                       g29.HI_1750_1999_Tot) * 100 / g29.total
g29['pct_hincome_2000_2999'] = (g29.HI_2000_2499_Tot + g29.HI_2500_2999_Tot) * 100 / g29.total
g29['pct_hincome_3000_3999'] = (g29.HI_3000_3499_Tot + g29.HI_3500_3999_Tot) * 100 / g29.total
g29['pct_hincome_4000_more'] = (g29.HI_4000_more_Tot) * 100 / g29.total
g29['pct_part_hincome'] = (g29.Partial_income_stated_Tot) * 100 / g29.total
g29['pct_hincome_ns'] = (g29.All_incomes_not_stated_Tot) * 100 / g29.total

g29 = g29[['LGA_CODE_2016', 'pct_no_hincome', 'pct_hincome_1_499', 'pct_hincome_500_999',
                               'pct_hincome_1_999', 'pct_hincome_1000_1499', 'pct_hincome_1500_1999',
                               'pct_hincome_1000_1999', 'pct_hincome_2000_2999', 'pct_hincome_3000_3999',
                               'pct_hincome_4000_more', 'pct_part_hincome', 'pct_hincome_ns']]
g29.head()

,LGA_CODE_2016,pct_no_hincome,pct_hincome_1_499,pct_hincome_500_999,pct_hincome_1_999,pct_hincome_1000_1499,pct_hincome_1500_1999,pct_hincome_1000_1999,pct_hincome_2000_2999,pct_hincome_3000_3999,pct_hincome_4000_more,pct_part_hincome,pct_hincome_ns
0,LGA10050,0.011284,15.372384,22.302011,37.674395,16.906032,11.274108,28.180140,14.972302,5.637054,3.000616,6.565449,2.841609
1,LGA10130,0.013058,14.948353,22.578445,37.526798,16.263886,11.742350,28.006237,14.100565,5.301111,3.391152,7.454687,2.913662
2,LGA10250,0.008698,14.588859,23.502560,38.091419,17.574486,11.023379,28.597866,13.737586,5.089137,3.707359,6.896552,3.010302
3,LGA10300,0.017610,13.962264,19.622642,33.584906,17.610063,13.333333,30.943396,13.207547,2.264151,2.515723,10.817610,4.905660
4,LGA10470,0.010694,13.735157,19.936116,33.671273,16.339143,11.742240,28.081383,16.387751,7.152281,3.701132,7.318936,2.617874

In [12]:
g46['total'] = g46.drop(columns = ['LGA_CODE_2016']).sum(axis = 1)
g46['pct_pgrad'] = (g46.P_PGrad_Deg_Total) * 100 / g46.total
g46['pct_grad_cert_dip'] = (g46.P_GradDip_and_GradCert_Total) * 100 / g46.total
g46['pct_bach_deg'] = (g46.P_BachDeg_Total) * 100 / g46.total
g46['pct_adv_dip'] = (g46.P_AdvDip_and_Dip_Total) * 100 / g46.total
g46['pct_cert_iii_iv'] = (g46.P_Cert_III_IV_Total) * 100 / g46.total
g46['pct_cert_i_ii'] = (g46.P_Cert_I_II_Total + g46.P_Cert_Levl_nfd_Total) * 100 / g46.total
g46['pct_others'] = (g46.P_Lev_Edu_IDes_Total + g46.P_Lev_Edu_NS_Total) * 100 / g46.total

g46 = g46[['LGA_CODE_2016', 'pct_pgrad', 'pct_grad_cert_dip', 'pct_bach_deg', 'pct_adv_dip',
                             'pct_cert_iii_iv', 'pct_cert_i_ii', 'pct_others']]
g46.head()

,LGA_CODE_2016,pct_pgrad,pct_grad_cert_dip,pct_bach_deg,pct_adv_dip,pct_cert_iii_iv,pct_cert_i_ii,pct_others
0,LGA10050,0.443915,0.357421,1.994013,1.496676,3.533512,0.649549,1.934655
1,LGA10130,1.309387,0.429443,2.470612,1.300362,2.618774,0.627242,2.119387
2,LGA10250,0.522146,0.361261,2.307974,1.620554,3.110450,0.666943,2.016430
3,LGA10300,0.276789,0.171346,1.238961,1.054435,3.295110,0.593120,3.940952
4,LGA10470,0.488833,0.331543,1.932201,1.373461,3.345241,0.690843,2.317716

In [13]:
lga_census = [g01a, g01b, g01c, g02, g05, g09, g16, g17, g28, g29, g40a, g40b, g46]
df_census = reduce(lambda left, right: pd.merge(left, right, on = ['LGA_CODE_2016'], how = 'outer'), lga_census)
df_census = df_census.rename(columns = {'LGA_CODE_2016':'LGA_CODE'})
df_census.head()

,LGA_CODE,Age_0_4_yr_P,Age_5_14_yr_P,Age_15_19_yr_P,Age_20_24_yr_P,Age_25_34_yr_P,Age_35_44_yr_P,Age_45_54_yr_P,Age_55_64_yr_P,Age_65_74_yr_P,...,Non_sch_quls_Cert1a2_Level_P,Non_sch_quls_Certnfd_Level_P,Non_sch_quls_CertTot_Level_P,pct_pgrad,pct_grad_cert_dip,pct_bach_deg,pct_adv_dip,pct_cert_iii_iv,pct_cert_i_ii,pct_others
0,LGA10050,3286,6328,3248,3508,6498,6205,6497,6372,4907,...,644,888,9869,0.443915,0.357421,1.994013,1.496676,3.533512,0.649549,1.934655
1,LGA10130,1669,3667,2560,2793,3464,3100,3657,3552,2747,...,327,507,4317,1.309387,0.429443,2.470612,1.300362,2.618774,0.627242,2.119387
2,LGA10250,2072,4856,2384,1571,3581,4669,5759,6434,5503,...,430,938,7753,0.522146,0.361261,2.307974,1.620554,3.110450,0.666943,2.016430
3,LGA10300,143,336,135,132,233,276,290,377,202,...,26,19,300,0.276789,0.171346,1.238961,1.054435,3.295110,0.593120,3.940952
4,LGA10470,2546,5571,2980,3148,5171,4878,5238,4991,3862,...,526,818,7856,0.488833,0.331543,1.932201,1.373461,3.345241,0.690843,2.317716

In [14]:
df_census.to_csv('../Data/census 2016/census2016_file.csv', index = False)