In [1]:
import pandas as pd
import numpy as np

In [2]:
# G01
age_group = ['LGA_CODE_2016','Age_0_4_yr_P', 'Age_5_14_yr_P', 'Age_15_19_yr_P', 'Age_20_24_yr_P', 'Age_25_34_yr_P', 'Age_35_44_yr_P',
             'Age_45_54_yr_P', 'Age_55_64_yr_P', 'Age_65_74_yr_P', 'Age_75_84_yr_P', 'Age_85ov_P']
origin = ['LGA_CODE_2016','Birthplace_Australia_P', 'Birthplace_Elsewhere_P']
educ_attain_G01 = ['LGA_CODE_2016','High_yr_schl_comp_Yr_12_eq_P', 'High_yr_schl_comp_Yr_11_eq_P', 'High_yr_schl_comp_Yr_10_eq_P',
                   'High_yr_schl_comp_Yr_9_eq_P', 'High_yr_schl_comp_Yr_8_belw_P', 'High_yr_schl_comp_D_n_g_sch_P']

# G02
vars_G02 = ['LGA_CODE_2016','Median_age_persons', 'Median_tot_prsnl_inc_weekly', 'Median_tot_fam_inc_weekly',
            'Median_tot_hhd_inc_weekly', 'Average_household_size']

# G05
marital_stat = ['LGA_CODE_2016','P_Tot_Married', 'P_Tot_Separated',  'P_Tot_Divorced',  'P_Tot_Widowed', 'P_Tot_Never_Married']

# G09
country_origin = ['LGA_CODE_2016','P_Afghanistan_Tot', 'P_Australia_Tot', 'P_Bangladesh_Tot', 'P_Bosnia_Herzegov_Tot',
                  'P_Cambodia_Tot', 'P_Canada_Tot', 'P_Chile_Tot', 'P_China_Tot', 'P_Croatia_Tot', 'P_Egypt_Tot',
                  'P_England_Tot', 'P_Fiji_Tot', 'P_France_Tot', 'P_Germany_Tot', 'P_Greece_Tot', 'P_Hong_Kong_Tot',
                  'P_India_Tot', 'P_Indonesia_Tot', 'P_Iran_Tot', 'P_Iraq_Tot', 'P_Ireland_Tot', 'P_Italy_Tot',
                  'P_Japan_Tot', 'P_Korea_South_Tot', 'P_Lebanon_Tot', 'P_Malaysia_Tot', 'P_Malta_Tot',
                  'P_Mauritius_Tot', 'P_Myanmar_Tot', 'P_Nepal_Tot', 'P_Netherlands_Tot', 'P_New_Zealand_Tot',
                  'P_Nthern_Ireland_Tot', 'P_Pakistan_Tot', 'P_PNG_Tot', 'P_Philippines_Tot', 'P_Poland_Tot',
                  'P_Scotland_Tot', 'P_Singapore_Tot', 'P_South_Africa_Tot', 'P_SE_Europe_nfd_Tot', 'P_Sri_Lanka_Tot',
                  'P_Taiwan_Tot', 'P_Thailand_Tot', 'P_FYROM_Tot', 'P_Turkey_Tot', 'P_USA_Tot', 'P_Vietnam_Tot',
                  'P_Wales_Tot', 'P_Zimbabwe_Tot', 'P_Elsewhere_Tot', 'P_COB_NS_Tot']

# G16
educ_attain_G16 = ['LGA_CODE_2016','P_Y12e_Tot', 'P_Y11e_Tot', 'P_Y10e_Tot', 'P_Y9e_Tot', 'P_Y8b_Tot', 'P_DNGTS_Tot',
                   'P_Hghst_yr_schl_ns_Tot']

In [3]:
#paths
g01_path = "Data/census 2016/2016_GCP_LGA_for_NSW_short-header/2016 Census GCP Local Government Areas for NSW/2016Census_G01_NSW_LGA.csv"
g02_path = "Data/census 2016/2016_GCP_LGA_for_NSW_short-header/2016 Census GCP Local Government Areas for NSW/2016Census_G02_NSW_LGA.csv"

g05_path = "Data/census 2016/2016_GCP_LGA_for_NSW_short-header/2016 Census GCP Local Government Areas for NSW/2016Census_G05_NSW_LGA.csv"

g09a_path = "Data/census 2016/2016_GCP_LGA_for_NSW_short-header/2016 Census GCP Local Government Areas for NSW/2016Census_G09A_NSW_LGA.csv"
g09b_path = "Data/census 2016/2016_GCP_LGA_for_NSW_short-header/2016 Census GCP Local Government Areas for NSW/2016Census_G09B_NSW_LGA.csv"
g09c_path = "Data/census 2016/2016_GCP_LGA_for_NSW_short-header/2016 Census GCP Local Government Areas for NSW/2016Census_G09C_NSW_LGA.csv"
g09d_path = "Data/census 2016/2016_GCP_LGA_for_NSW_short-header/2016 Census GCP Local Government Areas for NSW/2016Census_G09D_NSW_LGA.csv"
g09e_path = "Data/census 2016/2016_GCP_LGA_for_NSW_short-header/2016 Census GCP Local Government Areas for NSW/2016Census_G09E_NSW_LGA.csv"
g09f_path = "Data/census 2016/2016_GCP_LGA_for_NSW_short-header/2016 Census GCP Local Government Areas for NSW/2016Census_G09F_NSW_LGA.csv"
g09g_path = "Data/census 2016/2016_GCP_LGA_for_NSW_short-header/2016 Census GCP Local Government Areas for NSW/2016Census_G09G_NSW_LGA.csv"
g09h_path = "Data/census 2016/2016_GCP_LGA_for_NSW_short-header/2016 Census GCP Local Government Areas for NSW/2016Census_G09H_NSW_LGA.csv"

g16a_path = "Data/census 2016/2016_GCP_LGA_for_NSW_short-header/2016 Census GCP Local Government Areas for NSW/2016Census_G16A_NSW_LGA.csv"
g16b_path = "Data/census 2016/2016_GCP_LGA_for_NSW_short-header/2016 Census GCP Local Government Areas for NSW/2016Census_G16B_NSW_LGA.csv"

In [4]:
#Load and merge data
g01 = pd.read_csv(g01_path)

g02 = pd.read_csv(g02_path)

g05 = pd.read_csv(g05_path)

g09a = pd.read_csv(g09a_path)
g09b = pd.read_csv(g09b_path)
g09c = pd.read_csv(g09c_path)
g09d = pd.read_csv(g09d_path)
g09e = pd.read_csv(g09e_path)
g09f = pd.read_csv(g09f_path)
g09g = pd.read_csv(g09g_path)
g09h = pd.read_csv(g09h_path)
g09 = g09a.merge(g09b, on='LGA_CODE_2016', how='outer')
g09 = g09.merge(g09c, on='LGA_CODE_2016', how='outer')
g09 = g09.merge(g09d, on='LGA_CODE_2016', how='outer')
g09 = g09.merge(g09e, on='LGA_CODE_2016', how='outer')
g09 = g09.merge(g09f, on='LGA_CODE_2016', how='outer')
g09 = g09.merge(g09g, on='LGA_CODE_2016', how='outer')
g09 = g09.merge(g09h, on='LGA_CODE_2016', how='outer')


g16a = pd.read_csv(g16a_path)
g16b = pd.read_csv(g16b_path)
g16 = g16a.merge(g16b, on='LGA_CODE_2016', how='outer')

In [5]:
# G01
age_group = g01[age_group]
origin = g01[origin]
educ_attain_G01 = g01[educ_attain_G01]

# G02
vars_G02 = g02[vars_G02]

# G05
marital_stat = g05[marital_stat]

# G09
country_origin = g09[country_origin]

# G16
educ_attain_G16 = g16[educ_attain_G16]

In [6]:
age_group['Age_below_15_yr'] = age_group['Age_0_4_yr_P'] + age_group['Age_5_14_yr_P']
age_group['Age_15_64_yr'] = age_group['Age_15_19_yr_P'] + age_group['Age_20_24_yr_P'] + age_group['Age_25_34_yr_P'] + age_group['Age_35_44_yr_P'] + age_group['Age_45_54_yr_P'] + age_group['Age_55_64_yr_P']
age_group['Age_over_65_yr'] = age_group['Age_65_74_yr_P'] + age_group['Age_75_84_yr_P'] + age_group['Age_85ov_P']

combined_age_group = age_group[['LGA_CODE_2016','Age_below_15_yr','Age_15_64_yr','Age_over_65_yr']].copy()

combined_age_group['Age_below_15_yr_perc'] = combined_age_group['Age_below_15_yr'] / (combined_age_group['Age_below_15_yr'] + combined_age_group['Age_15_64_yr'] + combined_age_group['Age_over_65_yr']) * 100
combined_age_group['Age_15_64_yr_perc'] = combined_age_group['Age_15_64_yr'] / (combined_age_group['Age_below_15_yr'] + combined_age_group['Age_15_64_yr'] + combined_age_group['Age_over_65_yr']) * 100
combined_age_group['Age_over_65_yr_perc'] = combined_age_group['Age_over_65_yr'] / (combined_age_group['Age_below_15_yr'] + combined_age_group['Age_15_64_yr'] + combined_age_group['Age_over_65_yr']) * 100

combined_age_group.rename(columns = {'below_15_yr_perc':'Age_below_15_yr_Perc','15_64_yr_perc':'Age_15_64_yr_Perc','over_65_yr_perc':'Age_over_65_yr_Perc'}, inplace = True)

combined_age_group.head()

/Users/jvlpz/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  """Entry point for launching an IPython kernel.
/Users/jvlpz/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy

/Users/jvlpz/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  This is separate from the ipykernel package so we can avoid doing imports until

,LGA_CODE_2016,Age_below_15_yr,Age_15_64_yr,Age_over_65_yr,Age_below_15_yr_perc,Age_15_64_yr_perc,Age_over_65_yr_perc
0,LGA10050,9614,32328,9149,18.817404,63.275332,17.907264
1,LGA10130,5336,19126,4991,18.117000,64.937358,16.945642
2,LGA10250,6928,24398,10461,16.579319,58.386580,25.034102
3,LGA10300,479,1443,368,20.917031,63.013100,16.069869
4,LGA10470,8117,26406,6773,19.655657,63.943239,16.401104

In [7]:
origin['BP_Aus_Perc'] = origin['Birthplace_Australia_P'] / (origin['Birthplace_Australia_P'] + origin['Birthplace_Elsewhere_P']) * 100
origin['BP_Non_Aus_Perc'] = origin['Birthplace_Elsewhere_P'] / (origin['Birthplace_Australia_P'] + origin['Birthplace_Elsewhere_P']) * 100

origin.rename(columns = {'Birthplace_Australia_P':'BP_Aus','Birthplace_Elsewhere_P':'BP_Non_Aus'}, inplace = True)

origin.head()

/Users/jvlpz/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  """Entry point for launching an IPython kernel.
/Users/jvlpz/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy

/Users/jvlpz/anaconda3/lib/python3.7/site-packages/pandas/core/frame.py:4025: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  return super(DataFrame, self).rename(**kwargs)

  LGA_CODE_2016  BP_Aus  BP_Non_Aus  BP_Aus_Perc  BP_Non_Aus_Perc
0      LGA10050   41590        5540    88.245279        11.754721
1      LGA10130   23396        3631    86.565287        13.434713
2      LGA10250   33984        4609    88.057420        11.942580
3      LGA10300    1869         144    92.846498         7.153502
4      LGA10470   34538        3565    90.643781         9.356219

In [8]:
educ_attain_G01['Sec_Edu_Yr10_or_above'] = educ_attain_G01['High_yr_schl_comp_Yr_12_eq_P'] + educ_attain_G01['High_yr_schl_comp_Yr_11_eq_P'] + educ_attain_G01['High_yr_schl_comp_Yr_10_eq_P']
educ_attain_G01['Sec_Edu_Yr9_or_below'] = educ_attain_G01['High_yr_schl_comp_Yr_9_eq_P'] + educ_attain_G01['High_yr_schl_comp_Yr_8_belw_P'] + educ_attain_G01['High_yr_schl_comp_D_n_g_sch_P']

educ_combined = educ_attain_G01[['LGA_CODE_2016','Sec_Edu_Yr10_or_above','Sec_Edu_Yr9_or_below']].copy()

educ_combined['Yr10_above_perc'] = educ_combined['Sec_Edu_Yr10_or_above'] / (educ_combined['Sec_Edu_Yr10_or_above'] + educ_combined['Sec_Edu_Yr9_or_below']) * 100
educ_combined['Yr9_below_perc'] = educ_combined['Sec_Edu_Yr9_or_below'] / (educ_combined['Sec_Edu_Yr10_or_above'] + educ_combined['Sec_Edu_Yr9_or_below']) * 100

educ_combined.rename(columns = {'Sec_Edu_Yr10_or_above':'SE_Yr10_above','Sec_Edu_Yr9_or_below':'SE_Yr9_below','Yr10_above_perc':'SE_Yr10_above_Perc','Yr9_below_perc':'SE_Yr9_below_Perc'}, inplace = True)

educ_combined.head()

/Users/jvlpz/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  """Entry point for launching an IPython kernel.
/Users/jvlpz/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy

,LGA_CODE_2016,SE_Yr10_above,SE_Yr9_below,SE_Yr10_above_Perc,SE_Yr9_below_Perc
0,LGA10050,31923,5650,84.962606,15.037394
1,LGA10130,18867,2897,86.689028,13.310972
2,LGA10250,26888,4615,85.350602,14.649398
3,LGA10300,1161,384,75.145631,24.854369
4,LGA10470,25279,4039,86.223480,13.776520

In [9]:
vars_G02.head()

,LGA_CODE_2016,Median_age_persons,Median_tot_prsnl_inc_weekly,Median_tot_fam_inc_weekly,Median_tot_hhd_inc_weekly,Average_household_size
0,LGA10050,39,642,1532,1185,2.3
1,LGA10130,36,561,1465,1173,2.4
2,LGA10250,48,601,1426,1156,2.3
3,LGA10300,41,624,1438,1174,2.5
4,LGA10470,37,646,1632,1310,2.5

In [10]:
marital_stat['P_Tot_Single'] = marital_stat['P_Tot_Separated'] + marital_stat['P_Tot_Divorced'] + marital_stat['P_Tot_Widowed'] + marital_stat['P_Tot_Never_Married']

marital_stat['MS_Married_Perc'] = marital_stat['P_Tot_Married'] / (marital_stat['P_Tot_Married'] + marital_stat['P_Tot_Single']) * 100
marital_stat['MS_Separated_Perc'] = marital_stat['P_Tot_Separated'] / (marital_stat['P_Tot_Married'] + marital_stat['P_Tot_Single']) * 100
marital_stat['MS_Divorced_Perc'] = marital_stat['P_Tot_Divorced'] / (marital_stat['P_Tot_Married'] + marital_stat['P_Tot_Single']) * 100
marital_stat['MS_Widowed_Perc'] = marital_stat['P_Tot_Widowed'] / (marital_stat['P_Tot_Married'] + marital_stat['P_Tot_Single']) * 100
marital_stat['MS_Never_Married_Perc'] = marital_stat['P_Tot_Never_Married'] / (marital_stat['P_Tot_Married'] + marital_stat['P_Tot_Single']) * 100
marital_stat['MS_Single_Perc'] = marital_stat['P_Tot_Single'] / (marital_stat['P_Tot_Married'] + marital_stat['P_Tot_Single']) * 100

marital_stat.rename(columns = {'P_Tot_Married':'MS_Married','P_Tot_Separated':'MS_Separated','P_Tot_Divorced':'MS_Divorced','P_Tot_Widowed':'MS_Widowed','P_Tot_Never_Married':'MS_Never_Married','P_Tot_Single':'MS_Single'}, inplace = True)

marital_stat.head()

/Users/jvlpz/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  """Entry point for launching an IPython kernel.
/Users/jvlpz/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  This is separate from the ipykernel package so we can avoid doing imports until
/Users/jvlpz/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  after removing the cwd from sys.path.
/Users/jvlpz/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  """
/Users/jvlpz/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy

/Users/jvlpz/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  import sys
/Users/jvlpz/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:8: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy

,LGA_CODE_2016,MS_Married,MS_Separated,MS_Divorced,MS_Widowed,MS_Never_Married,MS_Single,MS_Married_Perc,MS_Separated_Perc,MS_Divorced_Perc,MS_Widowed_Perc,MS_Never_Married_Perc,MS_Single_Perc
0,LGA10050,18935,1478,4018,2632,14408,22536,45.658412,3.563936,9.688698,6.346604,34.742350,54.341588
1,LGA10130,10341,760,1872,1435,9714,13781,42.869580,3.150651,7.760551,5.948926,40.270293,57.130420
2,LGA10250,17046,1179,3849,2754,10027,17809,48.905465,3.382585,11.042892,7.901305,28.767752,51.094535
3,LGA10300,897,50,132,114,608,904,49.805664,2.776235,7.329262,6.329817,33.759023,50.194336
4,LGA10470,14936,1147,2885,1854,12365,18251,45.005574,3.456173,8.693163,5.586525,37.258565,54.994426

In [11]:
census_g1g16 = pd.merge(combined_age_group, origin, on='LGA_CODE_2016', how='inner')
census_g1g16 = pd.merge(census_g1g16, educ_combined, on='LGA_CODE_2016', how='inner')
census_g1g16 = pd.merge(census_g1g16, marital_stat, on='LGA_CODE_2016', how='inner')
census_g1g16 = pd.merge(census_g1g16, vars_G02, on='LGA_CODE_2016', how='inner')
census_g1g16 = pd.merge(census_g1g16, country_origin, on='LGA_CODE_2016', how='inner')
census_g1g16 = pd.merge(census_g1g16, educ_attain_G16, on='LGA_CODE_2016', how='inner')

census_g1g16.rename(columns = {'LGA_CODE_2016':'LGA_CODE'}, inplace = True)

census_g1g16.shape

(132, 91)

In [12]:
census_OJ = pd.merge(combined_age_group, origin, on='LGA_CODE_2016', how='outer')
census_OJ = pd.merge(census_OJ, educ_combined, on='LGA_CODE_2016', how='outer')
census_OJ = pd.merge(census_OJ, marital_stat, on='LGA_CODE_2016', how='outer')
census_OJ = pd.merge(census_OJ, vars_G02, on='LGA_CODE_2016', how='outer')
census_OJ = pd.merge(census_OJ, country_origin, on='LGA_CODE_2016', how='outer')
census_OJ = pd.merge(census_OJ, educ_attain_G16, on='LGA_CODE_2016', how='outer')

census_OJ.rename(columns = {'LGA_CODE_2016':'LGA_CODE'}, inplace = True)

census_OJ.shape

(132, 91)

In [13]:
census_g1g16.to_csv (r'Data/census 2016/census2016_file01.csv', index = None, header = True)